{% extends "base.html" %}

{% block content %}
<style>
    p{
        display: inline;
    }
</style>
<form method="post">
    {% csrf_token %}
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td><span class="fw-bold fs-2">&checkmark;</span></td>
                            <td>ID</td>
                            <td>Question</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for question in questions %}
                            <tr>
                                <td><input type="checkbox" name="{{question.id}}" class="form-check-input"></td>
                                <td>{{question.id}}</td>
                                <td>{{question.question|safe}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div><br>
            <div class="d-flex justify-content-end">
                <button class="btn btn-outline-info">Add</button>
            </div>
        </div>
    </div>
</form>
{% endblock content %}