{% extends "base.html" %}
{% load static %}

{% block content %}
{% if error %}
<div class="row">
    <span class="alert alert-danger">{{error|safe}}</span> <br>
</div>
{% endif %}
{% if success %}
<div class="row">
    <span class="alert alert-success">{{success|safe}}</span> <br>
</div>
{% endif %}
<form method="post">
    {% csrf_token %}
    <textarea name="question" class="editor">{{question}}</textarea> <br>
    <div class="row">
        <div class="col-md-6">
            <label for="answer1">Answer1</label>
            <textarea name="answer1" id="answer1" class="form-control">{{answer1}}</textarea> <br>
        </div>
        <div class="col-md-6">
            <label for="answer2">Answer2</label>
            <textarea name="answer2" id="answer2" class="form-control">{{answer2}}</textarea> <br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label for="answer3">Answer3</label>
            <textarea name="answer3" id="answer3" class="form-control">{{answer3}}</textarea> <br>
        </div>
        <div class="col-md-6">
            <label for="answer4">Answer4</label>
            <textarea name="answer4" id="answer4" class="form-control">{{answer4}}</textarea> <br>
        </div>
    </div>
    <label for="correct">Correct answer</label>
    <textarea name="correct" id="correct" class="form-control">{{correct}}</textarea> <br>
    <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-info">Save</button>
    </div>
</form>

<script src="{% static 'dist/libs/tinymce/tinymce.min.js' %}" defer></script>
<script>
  // @formatter:off
  document.addEventListener("DOMContentLoaded", function () {
    let options = {
      selector: '.editor',
      height: 300,
      menubar: false,
      statusbar: false,
      plugins: [
        'advlist autolink lists link image charmap print preview anchor',
        'searchreplace visualblocks code fullscreen',
        'insertdatetime media table paste code help wordcount'
      ],
      toolbar: 'undo redo | formatselect | ' +
        'bold italic backcolor | alignleft aligncenter ' +
        'alignright alignjustify | bullist numlist outdent indent | ' +
        'removeformat | media',
      content_style: 'body { font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif; font-size: 14px; -webkit-font-smoothing: antialiased; }'
    }
    if (localStorage.getItem("tablerTheme") === 'dark') {
      options.skin = 'oxide-dark';
      options.content_css = 'dark';
    }
    tinyMCE.init(options);
  })
  // @formatter:on
</script>

{% endblock content %}
